$white: #ffffff;

$gray-100: #e1e1e6;
$gray-300: #a8a8b3;
$gray-700: #323238;
$gray-800: #29292e;
$gray-850: #1f2729;
$gray-900: #121214;

$forms-background: #232129;
$forms-color: #f4ede8;

$water-blue: #B2F5EA;
$cyan-500: #61dafb;
$yellow-red: linear-gradient(to right, #f83600 0%, #f9d423 100%);